$primary-bg: #3b3b98;
$secondary-bg: #23235b;
$third-bg: #adf0f7;
$text-color: #fff;

@mixin button-style ($bg-color, $font-size:16px) {
    border: none;
    background-color: $bg-color;
    color: $text-color;
    font-size: $font-size;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background-color: lighten($bg-color, 10%);
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: $third-bg;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: $secondary-bg;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 350px;
    max-width: 100%;
    border-radius: 8px;
    
    header {
        text-align: center;
        margin-bottom: 20px;
    }

    .result-container {
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        padding: 12px 10px;
        height: 50px;
        margin-bottom: 20px;
        position: relative;

        .btn {
            @include button-style($primary-bg, 20px);
            position: absolute;
            top: 5px;
            right: 5px;
            width: 40px;
            height: 40px;
        }
    }

    .btn {
        @include button-style($primary-bg);
        &.btn-large {
            width: 100%;
            margin-top: 10px;
            padding: 12px;
            font-size: 18px;
        }
    }

    .settings {
        .setting {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0;
        }
    }
    
}




